# Ex. 3.1 Hive
We use the *pyHive* lib: https://github.com/dropbox/PyHive 

## Resources
* [HQL cheat sheet](http://hortonworks.com/wp-content/uploads/2016/05/Hortonworks.CheatSheet.SQLtoHive.pdf)
* [Hive reference](https://cwiki.apache.org/confluence/display/Hive/LanguageManual)

## Install
Install *pyHive* via *anaconda*

In [ ]:
from platform import python_version

print(python_version())

In [ ]:
! conda install -y pyhive

In [ ]:
#import libs
from pyhive import hive
from TCLIService.ttypes import TOperationState

In [ ]:
# try to connect
server="ec2-34-254-248-152.eu-west-1.compute.amazonaws.com"
cursor = hive.connect(server).cursor()

In [ ]:
#show our databases
cursor.execute('show databases')

In [ ]:
#get data from execution
cursor.fetchall()

In [ ]:
#use default db
cursor.execute('use default')

In [ ]:
#show tables in db
cursor.execute('show tables')

In [ ]:
cursor.fetchall()

In [ ]:
# get table layout
cursor.execute('describe employee')
cursor.fetchall()

In [ ]:
#select data
cursor.execute('select * from employee limit 100')

In [ ]:
#get daata from selction
employee = cursor.fetchall()

In [ ]:
len(employee) #this is a list

In [ ]:
#have a look
employee[:10]

In [ ]:
# get salary table layout
cursor.execute('describe salary')
cursor.fetchall()

In [ ]:
#select data
cursor.execute('select * from salary limit 100')

In [ ]:
#get daata from selction
salary = cursor.fetchall()

In [ ]:
salary[:10]

## Ex 1
Get employees sorted by ``family_name``. Return first 10 entries.

In [ ]:
cursor.execute(" ")

In [ ]:
cursor.fetchall()

## Ex 2
Get ``family_name`` and ``salary`` of employees sorted by salary. Return first 100 entries. Hint: you need to join both tables...

In [ ]:
cursor.execute(" ")
data=cursor.fetchall()

## Ex 3
Get the average salary by gender. Hint: use Group by

In [ ]:
cursor.execute(" ")
cursor.fetchall()