# Ex. 3.1 Hive
We use the *pyHive* lib: https://github.com/dropbox/PyHive 

## Resources
* [HQL cheat sheet](http://hortonworks.com/wp-content/uploads/2016/05/Hortonworks.CheatSheet.SQLtoHive.pdf)
* [Hive reference](https://cwiki.apache.org/confluence/display/Hive/LanguageManual)

## Install
Install *pyHive* via *anaconda*

In [65]:
from platform import python_version

print(python_version())

3.7.10

In [21]:
# added
!pip install -q condacolab

In [22]:
# added
import condacolab
condacolab.install()

‚ú®üç∞‚ú® Everything looks OK!

In [23]:
!conda install -y pyhive

Collecting package metadata (current_repodata.json): - \ | / - \ | / - \ | done
Solving environment: - \ | / - \ | / - \ | / - done

# All requested packages already installed.

In [24]:
# added:
#!pip install pyhive
#!pip install thrift
#!pip install python-pip gcc python-virtualenv cyrus-sasl-devel
#!pip install sasl

In [25]:
#import libs
from pyhive import hive
from TCLIService.ttypes import TOperationState

In [26]:
# try to connect
server="ec2-34-254-248-152.eu-west-1.compute.amazonaws.com"
cursor = hive.connect(server).cursor()

In [27]:
#show our databases
cursor.execute('show databases')

In [28]:
#get data from execution
cursor.fetchall()

[('default',)]

In [29]:
#use default db
cursor.execute('use default')

In [30]:
#show tables in db
cursor.execute('show tables')

In [31]:
cursor.fetchall()

[('employee',), ('salary',)]

In [32]:
# get table layout
cursor.execute('describe employee')
cursor.fetchall()

[('employee_id', 'int', ''),
 ('birthday', 'date', ''),
 ('first_name', 'string', ''),
 ('family_name', 'string', ''),
 ('gender', 'char(1)', ''),
 ('work_day', 'date', '')]

In [33]:
#select data
cursor.execute('select * from employee limit 100')

In [34]:
#get daata from selction
employee = cursor.fetchall()

In [35]:
len(employee) #this is a list

100

In [36]:
#have a look
employee[:10]

[(10001, None, "'Georgi'", "'Facello'", "'", None),
 (10002, None, "'Bezalel'", "'Simmel'", "'", None),
 (10003, None, "'Parto'", "'Bamford'", "'", None),
 (10004, None, "'Chirstian'", "'Koblick'", "'", None),
 (10005, None, "'Kyoichi'", "'Maliniak'", "'", None),
 (10006, None, "'Anneke'", "'Preusig'", "'", None),
 (10007, None, "'Tzvetan'", "'Zielinski'", "'", None),
 (10008, None, "'Saniya'", "'Kalloufi'", "'", None),
 (10009, None, "'Sumant'", "'Peac'", "'", None),
 (10010, None, "'Duangkaew'", "'Piveteau'", "'", None)]

In [37]:
# get salary table layout
cursor.execute('describe salary')
cursor.fetchall()

[('employee_id', 'int', ''),
 ('salary', 'int', ''),
 ('start_date', 'date', ''),
 ('end_date', 'date', '')]

In [38]:
#select data
cursor.execute('select * from salary limit 100')

In [39]:
#get daata from selction
salary = cursor.fetchall()

In [40]:
salary[:10]

[(10001, 60117, None, None),
 (10001, 62102, None, None),
 (10001, 66074, None, None),
 (10001, 66596, None, None),
 (10001, 66961, None, None),
 (10001, 71046, None, None),
 (10001, 74333, None, None),
 (10001, 75286, None, None),
 (10001, 75994, None, None),
 (10001, 76884, None, None)]

## Ex 1
Get employees sorted by ``family_name``. Return first 10 entries.

In [51]:
cursor.execute("SELECT * FROM employee ORDER BY employee.family_name LIMIT 10")

In [52]:
cursor.fetchall()

[(11761, None, "'Bartek'", "'Aamodt'", "'", None),
 (493102, None, "'Srinidhi'", "'Aamodt'", "'", None),
 (19898, None, "'Vidar'", "'Aamodt'", "'", None),
 (12791, None, "'Mokhtar'", "'Aamodt'", "'", None),
 (12516, None, "'Sreenivas'", "'Aamodt'", "'", None),
 (16572, None, "'Matt'", "'Aamodt'", "'", None),
 (18182, None, "'Dekang'", "'Aamodt'", "'", None),
 (493601, None, "'Sreekrishna'", "'Aamodt'", "'", None),
 (15427, None, "'Aluzio'", "'Aamodt'", "'", None),
 (17400, None, "'Basim'", "'Aamodt'", "'", None)]

## Ex 2
Get ``family_name`` and ``salary`` of employees sorted by salary. Return first 100 entries. Hint: you need to join both tables...

In [59]:
cursor.execute(" SELECT employee.family_name, salary.salary FROM employee INNER JOIN salary ON employee.employee_id == salary.employee_id ORDER BY salary.salary DESC LIMIT 100")
data=cursor.fetchall()

In [60]:
data

[("'Pesch'", 158220),
 ("'Pesch'", 157821),
 ("'Mukaidono'", 156286),
 ("'Whitcomb'", 155709),
 ("'Luders'", 155513),
 ("'Alameldin'", 155377),
 ("'Alameldin'", 155190),
 ("'Alameldin'", 154888),
 ("'Alameldin'", 154885),
 ("'Baca'", 154459),
 ("'Meriste'", 154376),
 ("'Luders'", 154227),
 ("'Griswold'", 153715),
 ("'Pesch'", 153458),
 ("'Pesch'", 153166),
 ("'Chenoweth'", 152710),
 ("'Hatcliff'", 152687),
 ("'Mukaidono'", 152576),
 ("'Birdsall'", 152412),
 ("'Stanfel'", 152220),
 ("'Meriste'", 152208),
 ("'Whitcomb'", 151929),
 ("'Baca'", 151768),
 ("'Griswold'", 151596),
 ("'Meriste'", 151565),
 ("'Alameldin'", 151484),
 ("'Pesch'", 151115),
 ("'Chenoweth'", 151080),
 ("'Hatcliff'", 150994),
 ("'Meriste'", 150993),
 ("'Mukaidono'", 150754),
 ("'Moehrke'", 150740),
 ("'Birdsall'", 150467),
 ("'Luders'", 150378),
 ("'Junet'", 150345),
 ("'Kambil'", 150052),
 ("'Stanfel'", 149693),
 ("'Whitcomb'", 149686),
 ("'Alameldin'", 149675),
 ("'Pesch'", 149571),
 ("'Thambidurai'", 149440),
 ("'Luders'", 149312),
 ("'Griswold'", 149241),
 ("'Alameldin'", 149208),
 ("'Baca'", 149140),
 ("'Minakawa'", 148820),
 ("'Mukaidono'", 148727),
 ("'Birta'", 148696),
 ("'Kambil'", 148448),
 ("'Birta'", 148212),
 ("'Hatcliff'", 147942),
 ("'Kambil'", 147702),
 ("'Chenoweth'", 147497),
 ("'Sudbeck'", 147480),
 ("'Unni'", 147469),
 ("'Kambil'", 147282),
 ("'Birdsall'", 147048),
 ("'Junet'", 146968),
 ("'Chinin'", 146882),
 ("'Gruenwald'", 146755),
 ("'Teitelbaum'", 146719),
 ("'Meriste'", 146703),
 ("'Kobara'", 146655),
 ("'Meriste'", 146588),
 ("'Kobara'", 146546),
 ("'Moehrke'", 146531),
 ("'Alameldin'", 146531),
 ("'Worfolk'", 146507),
 ("'Birta'", 146430),
 ("'Chinin'", 146414),
 ("'Junot'", 146292),
 ("'Kambil'", 146281),
 ("'Muntz'", 146280),
 ("'Baca'", 146222),
 ("'Brookner'", 146100),
 ("'Wissmann'", 145960),
 ("'Whitcomb'", 145940),
 ("'Rosen'", 145902),
 ("'Baik'", 145901),
 ("'Birdsall'", 145886),
 ("'Meriste'", 145773),
 ("'Ramaiah'", 145732),
 ("'Pesch'", 145711),
 ("'Stanfel'", 145681),
 ("'Mukaidono'", 145579),
 ("'Brendel'", 145441),
 ("'Chenoweth'", 145414),
 ("'Kobara'", 145362),
 ("'Thambidurai'", 145300),
 ("'Sudbeck'", 145283),
 ("'Tischendorf'", 145215),
 ("'Teitelbaum'", 145137),
 ("'Warwick'", 145128),
 ("'Baca'", 145077),
 ("'Unni'", 144971),
 ("'Thambidurai'", 144944),
 ("'Luders'", 144918),
 ("'Griswold'", 144904),
 ("'Kobara'", 144891),
 ("'Minakawa'", 144890)]

## Ex 3
Get the average salary by gender. Hint: use Group by

In [78]:
cursor.execute(" SELECT employee.gender, AVG(salary.salary) FROM employee INNER JOIN salary ON employee.employee_id == salary.employee_id GROUP BY employee.gender ")
cursor.fetchall()

[("'", 63810.97721796859)]

In [79]:
cursor.execute(" SELECT employee.gender, AVG(salary.salary) FROM employee JOIN salary ON employee.employee_id == salary.employee_id GROUP BY employee.gender ")
cursor.fetchall()

[("'", 63810.97721796859)]

In [77]:
cursor.execute( "SELECT employee.first_name, employee.family_name, employee.gender FROM employee SORT BY employee.gender DESC LIMIT 50")
cursor.fetchall()

[("'Sumant'", "'Peac'", "'"),
 ("'Moss'", "'Shanbhogue'", "'"),
 ("'Basil'", "'Tramer'", "'"),
 ("'Weiyi'", "'Meriste'", "'"),
 ("'Yongqiao'", "'Berztiss'", "'"),
 ("'Berni'", "'Genin'", "'"),
 ("'Guoxiang'", "'Nooteboom'", "'"),
 ("'Karsten'", "'Joslin'", "'"),
 ("'Florian'", "'Syrotiuk'", "'"),
 ("'Arif'", "'Merlo'", "'"),
 ("'Lillian'", "'Haddadi'", "'"),
 ("'Mayuko'", "'Warwick'", "'"),
 ("'Bader'", "'Swan'", "'"),
 ("'Shahaf'", "'Famili'", "'"),
 ("'Yishay'", "'Tzvieli'", "'"),
 ("'Adamantios'", "'Portugali'", "'"),
 ("'Prasadram'", "'Heyers'", "'"),
 ("'Mingsen'", "'Casley'", "'"),
 ("'Anneke'", "'Preusig'", "'"),
 ("'Tzvetan'", "'Zielinski'", "'"),
 ("'Patricia'", "'Breugel'", "'"),
 ("'Yinghua'", "'Dredge'", "'"),
 ("'Berhard'", "'Lenart'", "'"),
 ("'Parto'", "'Bamford'", "'"),
 ("'Chirstian'", "'Koblick'", "'"),
 ("'Kyoichi'", "'Maliniak'", "'"),
 ("'Duangkaew'", "'Piveteau'", "'"),
 ("'Mary'", "'Sluis'", "'"),
 ("'Patricio'", "'Bridgland'", "'"),
 ("'Eberhardt'", "'Terkki'", "'"),
 ("'Kazuhito'", "'Cappelletti'", "'"),
 ("'Cristinel'", "'Bouloucos'", "'"),
 ("'Kazuhide'", "'Peha'", "'"),
 ("'Ramzi'", "'Erde'", "'"),
 ("'Bojan'", "'Montemayor'", "'"),
 ("'Suzette'", "'Pettey'", "'"),
 ("'Georgi'", "'Facello'", "'"),
 ("'Divier'", "'Reistad'", "'"),
 ("'Domenick'", "'Tempesti'", "'"),
 ("'Otmar'", "'Herbst'", "'"),
 ("'Elvis'", "'Demeyer'", "'"),
 ("'Sachin'", "'Tsukuda'", "'"),
 ("'Alain'", "'Chappelet'", "'"),
 ("'Pradeep'", "'Makrucki'", "'"),
 ("'Huan'", "'Lortz'", "'"),
 ("'Alejandro'", "'Brender'", "'"),
 ("'Uri'", "'Lenart'", "'"),
 ("'Magy'", "'Stamatiou'", "'"),
 ("'Lucien'", "'Rosenbaum'", "'"),
 ("'Zvonko'", "'Nyanchama'", "'")]