# Ex. 3.1 Hive
We use the *pyHive* lib: https://github.com/dropbox/PyHive 

## Resources
* [HQL cheat sheet](http://hortonworks.com/wp-content/uploads/2016/05/Hortonworks.CheatSheet.SQLtoHive.pdf)
* [Hive reference](https://cwiki.apache.org/confluence/display/Hive/LanguageManual)

## Install
Install *pyHive* via *anaconda*

In [1]:
from platform import python_version

print(python_version())

3.7.6

In [2]:
! conda install -y pyhive

Collecting package metadata (repodata.json): done
Solving environment: done

# All requested packages already installed.

In [ ]:
#incolab
#!pip install -q condacolab 

#import condacolab condacolab.install() 

#!conda install -y pyhive

In [3]:
#import libs
from pyhive import hive
from TCLIService.ttypes import TOperationState

In [4]:
# try to connect
server="ec2-34-254-248-152.eu-west-1.compute.amazonaws.com"
cursor = hive.connect(server).cursor()

In [6]:
#show our databases
cursor.execute('show databases')

In [7]:
#get data from execution
cursor.fetchall()

[('default',)]

In [8]:
#use default db
cursor.execute('use default')

In [9]:
#show tables in db
cursor.execute('show tables')

In [10]:
cursor.fetchall()

[('employee',), ('salary',)]

In [11]:
# get table layout
cursor.execute('describe employee')
cursor.fetchall()

[('employee_id', 'int', ''),
 ('birthday', 'date', ''),
 ('first_name', 'string', ''),
 ('family_name', 'string', ''),
 ('gender', 'char(1)', ''),
 ('work_day', 'date', '')]

In [23]:
#select data
cursor.execute('select * from employee limit 100')

In [24]:
#get daata from selction
employee = cursor.fetchall()

In [25]:
len(employee) #this is a list

100

In [26]:
#have a look
employee[:10]

[(10001, None, "'Georgi'", "'Facello'", "'", None),
 (10002, None, "'Bezalel'", "'Simmel'", "'", None),
 (10003, None, "'Parto'", "'Bamford'", "'", None),
 (10004, None, "'Chirstian'", "'Koblick'", "'", None),
 (10005, None, "'Kyoichi'", "'Maliniak'", "'", None),
 (10006, None, "'Anneke'", "'Preusig'", "'", None),
 (10007, None, "'Tzvetan'", "'Zielinski'", "'", None),
 (10008, None, "'Saniya'", "'Kalloufi'", "'", None),
 (10009, None, "'Sumant'", "'Peac'", "'", None),
 (10010, None, "'Duangkaew'", "'Piveteau'", "'", None)]

In [ ]:
# get salary table layout
cursor.execute('describe salary')
cursor.fetchall()

In [ ]:
#select data
cursor.execute('select * from salary limit 100')

In [ ]:
#get daata from selction
salary = cursor.fetchall()

In [ ]:
salary[:10]

## Ex 1
Get employees sorted by ``family_name``. Return first 10 entries.

In [27]:
cursor.execute("SELECT COUNT(*) FROM employee  ")

OperationalError: TExecuteStatementResp(status=TStatus(statusCode=3, infoMessages=['*org.apache.hive.service.cli.HiveSQLException:Error while processing statement: FAILED: Execution Error, return code 1 from org.apache.hadoop.hive.ql.exec.tez.TezTask:28:27', 'org.apache.hive.service.cli.operation.Operation:toSQLException:Operation.java:380', 'org.apache.hive.service.cli.operation.SQLOperation:runQuery:SQLOperation.java:257', 'org.apache.hive.service.cli.operation.SQLOperation:runInternal:SQLOperation.java:293', 'org.apache.hive.service.cli.operation.Operation:run:Operation.java:320', 'org.apache.hive.service.cli.session.HiveSessionImpl:executeStatementInternal:HiveSessionImpl.java:530', 'org.apache.hive.service.cli.session.HiveSessionImpl:executeStatement:HiveSessionImpl.java:506', 'sun.reflect.GeneratedMethodAccessor20:invoke::-1', 'sun.reflect.DelegatingMethodAccessorImpl:invoke:DelegatingMethodAccessorImpl.java:43', 'java.lang.reflect.Method:invoke:Method.java:498', 'org.apache.hive.service.cli.session.HiveSessionProxy:invoke:HiveSessionProxy.java:78', 'org.apache.hive.service.cli.session.HiveSessionProxy:access$000:HiveSessionProxy.java:36', 'org.apache.hive.service.cli.session.HiveSessionProxy$1:run:HiveSessionProxy.java:63', 'java.security.AccessController:doPrivileged:AccessController.java:-2', 'javax.security.auth.Subject:doAs:Subject.java:422', 'org.apache.hadoop.security.UserGroupInformation:doAs:UserGroupInformation.java:1926', 'org.apache.hive.service.cli.session.HiveSessionProxy:invoke:HiveSessionProxy.java:59', 'com.sun.proxy.$Proxy35:executeStatement::-1', 'org.apache.hive.service.cli.CLIService:executeStatement:CLIService.java:280', 'org.apache.hive.service.cli.thrift.ThriftCLIService:ExecuteStatement:ThriftCLIService.java:531', 'org.apache.hive.service.rpc.thrift.TCLIService$Processor$ExecuteStatement:getResult:TCLIService.java:1437', 'org.apache.hive.service.rpc.thrift.TCLIService$Processor$ExecuteStatement:getResult:TCLIService.java:1422', 'org.apache.thrift.ProcessFunction:process:ProcessFunction.java:39', 'org.apache.thrift.TBaseProcessor:process:TBaseProcessor.java:39', 'org.apache.hive.service.auth.TSetIpAddressProcessor:process:TSetIpAddressProcessor.java:56', 'org.apache.thrift.server.TThreadPoolServer$WorkerProcess:run:TThreadPoolServer.java:286', 'java.util.concurrent.ThreadPoolExecutor:runWorker:ThreadPoolExecutor.java:1149', 'java.util.concurrent.ThreadPoolExecutor$Worker:run:ThreadPoolExecutor.java:624', 'java.lang.Thread:run:Thread.java:748'], sqlState='08S01', errorCode=1, errorMessage='Error while processing statement: FAILED: Execution Error, return code 1 from org.apache.hadoop.hive.ql.exec.tez.TezTask'), operationHandle=None)

In [ ]:
cursor.fetchall()

## Ex 2
Get ``family_name`` and ``salary`` of employees sorted by salary. Return first 100 entries. Hint: you need to join both tables...

In [ ]:
cursor.execute(" ")
data=cursor.fetchall()

## Ex 3
Get the average salary by gender. Hint: use Group by

In [ ]:
cursor.execute(" ")
cursor.fetchall()